<a href="https://colab.research.google.com/github/tackulus/270702/blob/main/Lec01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Quiz 0

In [1]:
print("Hello World, my name is Kasidis Torcharoen.")

Hello World, my name is Kasidis Torcharoen.

# Quiz 1

ANSWER1 : The results are DIFFERENT.

In [2]:
print(f"  1+3*4 = {1+3*4}")
print(f"(1+3)*4 = {(1+3)*4}")

  1+3*4 = 13
(1+3)*4 = 16

# Quiz 2

ANSWER2 : The results are DIFFERENT.

In [3]:
print(f"84 / 10 = {84/10}")
print(f"84 % 10 = {84%10}")

84 / 10 = 8.4
84 % 10 = 4

# Quiz 3

ANSWER3 : The results are SAME.

In [4]:
print(f"10 / 2 = {10/2}")
print(f"10.0 / 2 = {10.0/2}")

10 / 2 = 5.0
10.0 / 2 = 5.0

# Quiz 4

ANSWER4 : The result is 13.

In [5]:
a = 2; b = 3; X = 5
print(f"Y = {a*X+b}")

Y = 13

# Quiz 5

ANSWER5 : Kasidis will retire in 2060.

In [6]:
name = input("What's your name? : ")
age = int(input("How old are you? : "))
print(f"{name} will retire in {60-age+2022}.")

What's your name? : Kasidis
How old are you? : 22
Kasidis will retire in 2060.